---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import { CollectionEntry, getCollection } from 'astro:content';
import 'zenn-content-css';

type Props = CollectionEntry<'resume'>;

const posts = await getCollection('resume');

const post = posts.find((post) => post.id === 'resume.mdx')
if (post === undefined) {
	throw new Error('Post not found');
}

const { Content } = await post.render();
---

<!DOCTYPE html>
<html lang="ja">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />

		<main>
			<article class="znc">
				<Content />
			</article>
		</main>

		<Footer />
	</body>
</html>
